Still working on this code.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
#df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/GSE91061_BMS038109Sample.hg19KnownGene.raw (1).csv')
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data/bms038.xlsx')

In [7]:
df

,Unnamed: 0,Pt101_On,Pt101_Pre,Pt103_On,Pt103_Pre,Pt105_On,Pt106_On,Pt106_Pre,Pt108_On,Pt109_On,...,Pt92_Pre,Pt92_Pre.2,Pt93_On,Pt94_On,Pt94_Pre,Pt98_On,Pt98_Pre,Pt9_On,Pt9_Pre,HUGO
0,1,251,279,661,1124,201,243,290,352,175,...,76,116,244,6387,278,229,278,236,156,A1BG
1,10,6,0,0,0,0,1,3,2,0,...,0,2,0,561,1,0,0,11,9,NAT2
2,100,2085,1630,136,1069,842,573,800,188,329,...,695,828,117,249,523,400,212,398,345,ADA
3,1000,536,228,3,23,92,2581,3114,618,71,...,557,1135,56,1686,161,139,190,6957,4990,CDH2
4,10000,3156,2485,5644,1337,5520,7594,9432,629,1712,...,5244,6730,8592,2678,4953,6898,5735,8434,7804,AKT3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22328,9991,12483,9871,3941,1854,5050,2696,5000,3116,2513,...,4624,5537,9539,2415,3709,5178,3884,4285,4213,PTBP3
22329,9992,6,9,8,0,88,16,20,39,29,...,27,12,24,18,13,18,13,19,29,KCNE2
22330,9993,3820,3251,7263,1706,3727,2668,3473,2235,4764,...,4544,4153,3545,2491,2655,2127,2531,3546,2875,DGCR2
22331,9994,2803,2428,842,242,1202,644,1252,689,578,...,1229,1525,1226,526,799,691,657,1336,1257,CASP8AP2
22332,9997,3,12,4,29,7,8,6,4,6,...,14,12,2,3,4,0,2,4,0,SCO2

In [8]:
df2 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data/mmc2.xlsx', index_col='Patient')
df

,Unnamed: 0,Pt101_On,Pt101_Pre,Pt103_On,Pt103_Pre,Pt105_On,Pt106_On,Pt106_Pre,Pt108_On,Pt109_On,...,Pt92_Pre,Pt92_Pre.2,Pt93_On,Pt94_On,Pt94_Pre,Pt98_On,Pt98_Pre,Pt9_On,Pt9_Pre,HUGO
0,1,251,279,661,1124,201,243,290,352,175,...,76,116,244,6387,278,229,278,236,156,A1BG
1,10,6,0,0,0,0,1,3,2,0,...,0,2,0,561,1,0,0,11,9,NAT2
2,100,2085,1630,136,1069,842,573,800,188,329,...,695,828,117,249,523,400,212,398,345,ADA
3,1000,536,228,3,23,92,2581,3114,618,71,...,557,1135,56,1686,161,139,190,6957,4990,CDH2
4,10000,3156,2485,5644,1337,5520,7594,9432,629,1712,...,5244,6730,8592,2678,4953,6898,5735,8434,7804,AKT3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22328,9991,12483,9871,3941,1854,5050,2696,5000,3116,2513,...,4624,5537,9539,2415,3709,5178,3884,4285,4213,PTBP3
22329,9992,6,9,8,0,88,16,20,39,29,...,27,12,24,18,13,18,13,19,29,KCNE2
22330,9993,3820,3251,7263,1706,3727,2668,3473,2235,4764,...,4544,4153,3545,2491,2655,2127,2531,3546,2875,DGCR2
22331,9994,2803,2428,842,242,1202,644,1252,689,578,...,1229,1525,1226,526,799,691,657,1336,1257,CASP8AP2
22332,9997,3,12,4,29,7,8,6,4,6,...,14,12,2,3,4,0,2,4,0,SCO2

In [29]:
df_y = df2[['Result']]
df_y

         Result
Patient
Pt1        True
Pt10       True
Pt100      True
Pt101     False
Pt102     False
...         ...
Pt90       True
Pt92       True
Pt93      False
Pt94      False
Pt98       True

[73 rows x 1 columns]

In [38]:
df_filtr = df.filter(regex='_Pre')

In [39]:
df_trans = df_filtr.transpose()

In [40]:
print(df_trans)

            0      1      2      3      4      5      6      7      8      \
Pt101_Pre     279      0   1630    228   2485     74   1191      0     19
Pt103_Pre    1124      0   1069     23   1337    145    484      0     87
Pt106_Pre     290      3    800   3114   9432    163   1185      7    114
Pt10_Pre      306      0    982    338  21878    196    706     11    136
Pt11_Pre      108      0    431     69   5107    182    907      7     91
Pt17_Pre      179      0    246     36   1481    152   1049      1     19
Pt18_Pre      145      0   1162   3689   5479    166    906      1     42
Pt1_Pre       436      0    565     71   6838    242   1045      1     30
Pt23_Pre      150      4    750   4947   3819    278    563     10     79
Pt24_Pre      166      0    384    297   2015     62    886      4     71
Pt26_Pre      138      0     62    167   9882    198   1167      7     74
Pt27_Pre      187      0     61   1869   6522     89    644     11     42
Pt28_Pre       82      0    177    139   3124    211    606      4     74
Pt29_Pre      125      0    562    279   8446    139    929      8     32
Pt2_Pre        88      2    887    983   6629    117    890      2     13
Pt30_Pre      453      5    595    788   3208    164    710      7     60
Pt31_Pre      242      3    556    793   5990    122    730      2     51
Pt34_Pre       82      0    549    140   2999    134    581      2     16
Pt36_Pre       33      0   1544     24   3722    107    630      0    367
Pt37_Pre      481      0    233    378   9978    206    827     26     43
Pt37_Pre.2    631      0    252    327   5095    159    925      6     20
Pt38_Pre      307      0    714   3058  10269    289    925      0     31
Pt39_Pre      291      0   1065    146   7877     97    568      3     33
Pt3_Pre       132      1   1070    320  14014    163   1398      0    103
Pt3_Pre.2     184      0   1265    429  16806    165   1507      7     89
Pt44_Pre      112     14    471   3159  10859    138   1111     18     87
Pt46_Pre      250     13   1148     25   1710     75    677      0     50
Pt47_Pre      297      1    196   7030   8678    200    757     15    105
Pt48_Pre     8869    602    192   4139   2423     77    419      3    155
Pt49_Pre      196      0    866    709   5855    103    765      1    168
Pt4_Pre       304      0   1363    214  11753     99   1008      4     45
Pt52_Pre     5228    586    283   2501   8263    184    598      0    540
Pt59_Pre      249      1   1005    580   6276    114    751      0     53
Pt5_Pre       312      9    522    195   4265     51    719      6    112
Pt5_Pre.2     170      0    432    107   4147     48    755      0    174
Pt62_Pre      223      0    946    124    566    163    856      9     53
Pt65_Pre      187      9    572   1708   5139    107    746      2     28
Pt66_Pre      602     24   1315    145   5332    188    898      7    100
Pt67_Pre       49      1   1300    678    788     47    403      6     19
Pt72_Pre      219      0    471     49  13113     78    572      4     60
Pt76_Pre      730      0   1089   9559   6257    126   1005      5     92
Pt77_Pre      189      0    846    981   7997    190    694      0     83
Pt78_Pre      159      0   1598    108   9108     65    581      0    526
Pt78_Pre.2    237      0   1323    101   9526     51    631      7    719
Pt79_Pre      186      2    597    393   9170    276    633      9     46
Pt82_Pre      990     72    281    594   5402    206    608      0    180
Pt84_Pre       38      5    121    209   1338    122    801      0     95
Pt85_Pre      671      2    301   7800  18810    340   1545      2      6
Pt89_Pre      273      0    437    388   3956    225   1108     10     59
Pt8_Pre       328      0    459    324   7404    177   1072      6     58
Pt90_Pre      429      0    817    328   4096    218    576      2     51
Pt92_Pre       76      0    695    557   5244    140    548      4     50
Pt92_Pre.2    116      2    828   1135   6730    155    658      1     65
Pt94_Pre      278      1    523    161   4953    163    641      6     53
Pt98_Pre      278      0    212    190   5735    300    767      7     43
Pt9_Pre       156      9    345   4990   7804    278    823      3    137

            9      ...  22323  22324  22325  22326  22327  22328  22329  \
Pt101_Pre       0  ...  11111   3747   1888   1369   4622   9871      9
Pt103_Pre       0  ...   4870    915   1828   1220    396   1854      0
Pt106_Pre       0  ...  14447   5089   2804  20316   1128   5000     20
Pt10_Pre        0  ...  21686   6312   6443   1218   1663  11114     16
Pt11_Pre        8  ...   9608   3536   4851  19219   2007   7994     31
Pt17_Pre        0  ...  13375   2311   2494  37582   1004  12274     97
Pt18_Pre        7  ...  10073   2646   2360   1629   4850   6675     10
Pt1_Pre         0  ...  10378   2573   4506   6997   1724   5142     24
Pt23_Pre        0  ...   6211   1906   3177   3326   2989   5276     50
Pt24_Pre        0  ...   7594   1499   3045    557   2559   8724      6
Pt26_Pre        4  ...  13415   5752   4678  14528   1246   5887     12
Pt27_Pre        0  ...   8514   4364   4425    287   2076   4805     27
Pt28_Pre        0  ...  13186   2940   4602   1316    584   6795     57
Pt29_Pre       10  ...   9196   1661   4373  10851   1609   5612     74
Pt2_Pre         1  ...   7158   1417   1981     16   2144   5018     18
Pt30_Pre        1  ...  11408   4859   3786     11   1055   3171     51
Pt31_Pre        0  ...  11034   1958   2992   9937   1590   3855     23
Pt34_Pre        0  ...   7810    619   2214     79   1663   6446     22
Pt36_Pre        9  ...   5713   2248   3319     15   2823   5753     26
Pt37_Pre        0  ...  12699   1944   3704  23041    686   5451     25
Pt37_Pre.2      0  ...  10481    940   2702  17784    347   4302     13
Pt38_Pre        5  ...   5481   2523   4472   4174    991   3334     44
Pt39_Pre        1  ...  14146   3239   1677      4    454   2579     10
Pt3_Pre         0  ...  10060   2568   3429   1055   1259   8131     25
Pt3_Pre.2       6  ...   9726   3071   3525    221   1678   8656     28
Pt44_Pre        0  ...  19191   3228   4562    390   2359   8001     29
Pt46_Pre        0  ...   8813   1077   3140    460   2135   8037      7
Pt47_Pre        1  ...   9655   4694   3589  15220   2868   5869     17
Pt48_Pre        0  ...   3825   1371   1770  10766   1022   2705     30
Pt49_Pre        0  ...   7832   1938   2235     74   1791   4311     15
Pt4_Pre        21  ...  10715   4142   1614    127   1003   4268     32
Pt52_Pre        7  ...   6606   1966   1766   1949   1397   3440     33
Pt59_Pre        8  ...   6980   1466   2278     36   1305   5672     22
Pt5_Pre         0  ...   8572   2329   3335   9268   1087   4772     28
Pt5_Pre.2       0  ...   7992   2580   3611   7808   2524   6946      3
Pt62_Pre        0  ...  11940   2371   1950   6819    565   1755     22
Pt65_Pre        3  ...   7210   2057   4165    812    980   4467      8
Pt66_Pre        0  ...  10242   4064   2133   9661    741   5146     95
Pt67_Pre        0  ...   4123    675   1370  10185    882   4307   6316
Pt72_Pre        0  ...   7317   2384   2136      2    652   3470     33
Pt76_Pre        0  ...  13000   2129   3661     75   1483   5761     45
Pt77_Pre        0  ...   7404   2763   1999    783   1918   6765      9
Pt78_Pre        0  ...   8649   2031    817     74    305   2286     20
Pt78_Pre.2      0  ...   9668   3066    848    116    488   1928     17
Pt79_Pre        0  ...   8617   1604   2812      4   1503   2903      6
Pt82_Pre        8  ...  10314   1881   1931  16102    864   6119     13
Pt84_Pre        0  ...  14008   3900   1629  65462    439   3885     28
Pt85_Pre        0  ...  11340   2405   3919      3    815   3525     61
Pt89_Pre        0  ...   8393   2059   5804   9730   1765   6719      0
Pt8_Pre         4  ...  11492   2857   2785  14216   1421   4155     28
Pt90_Pre        2  ...   7254   1601   3364   1904    973   4631      5
Pt92_Pre        1  ...  12052   2015   1957  27028    935   4624     27
Pt92_Pre.2      0  ...  13196   2373   2272  21044   1070   5537     12
Pt94_Pre        0  ...   4993   1272   1645   2448    900   3709     13
Pt98_Pre        0  ...  17075   1782   1407   5704   1099   3884     13
Pt9_Pre         4  ...  11142   5232   4426     47   1885   4213     29

            22330  22331  22332
Pt101_Pre    3251   2428     12
Pt103_Pre    1706    242     29
Pt106_Pre    3473   1252      6
Pt10_Pre     7039   1814      0
Pt11_Pre     2817   1577      1
Pt17_Pre     3164   1880      1
Pt18_Pre     2022   1778      0
Pt1_Pre      3203   1616      8
Pt23_Pre     5089   1197      7
Pt24_Pre     1274   1248      0
Pt26_Pre     2692   2301      1
Pt27_Pre     1615   1087      5
Pt28_Pre     3125    906      0
Pt29_Pre     4184   1322      0
Pt2_Pre      3490   1103      5
Pt30_Pre     2416   1051      0
Pt31_Pre     1957   1295      1
Pt34_Pre     2405    681      0
Pt36_Pre     2524   1144      0
Pt37_Pre     4060    624      3
Pt37_Pre.2   2765    374      0
Pt38_Pre     4273   1117      1
Pt39_Pre     4334   1036      1
Pt3_Pre      1400   1537      8
Pt3_Pre.2    1674   1654      5
Pt44_Pre     3231   3401      2
Pt46_Pre     2402    695      2
Pt47_Pre     2710   1795      6
Pt48_Pre     1695    772      0
Pt49_Pre     2484   1334     12
Pt4_Pre      5060   1040      5
Pt52_Pre     2187   1123      1
Pt59_Pre     3295    929     10
Pt5_Pre      1960    967      3
Pt5_Pre.2    1738   1215      3
Pt62_Pre     1526    363     10
Pt65_Pre     7958   1494      0
Pt66_Pre     2771   1669      3
Pt67_Pre     2096    533      0
Pt72_Pre     1764   1369      0
Pt76_Pre     1474    817      2
Pt77_Pre     3367   1287     10
Pt78_Pre     1678   1342      0
Pt78_Pre.2   1984   1010      0
Pt79_Pre     2668   1019      1
Pt82_Pre     1848   1370      3
Pt84_Pre     2780    863      0
Pt85_Pre     2479   1124      0
Pt89_Pre     5185   1233      7
Pt8_Pre      3022   1101      2
Pt90_Pre     2194    886      3
Pt92_Pre     4544   1229     14
Pt92_Pre.2   4153   1525     12
Pt94_Pre     2655    799      4
Pt98_Pre     2531    657      2
Pt9_Pre      2875   1257      0

[56 rows x 22333 columns]

In [33]:
#print(df_filtr)
df_y

         Result
Patient
Pt1        True
Pt10       True
Pt100      True
Pt101     False
Pt102     False
...         ...
Pt90       True
Pt92       True
Pt93      False
Pt94      False
Pt98       True

[73 rows x 1 columns]

In [46]:
#df_y['Results'] = df_y.loc['Result'].apply(lambda x: '1' if x == "True" else '0')
#print(df_y['Result'])
df_y['Result'] = df_y['Result'].astype(int)
df_y

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

         Result
Patient
Pt1           1
Pt10          1
Pt100         1
Pt101         0
Pt102         0
...         ...
Pt90          1
Pt92          1
Pt93          0
Pt94          0
Pt98          1

[73 rows x 1 columns]

In [35]:
df_y.index

Index(['Pt1', 'Pt10', 'Pt100', 'Pt101', 'Pt102', 'Pt103', 'Pt104', 'Pt106',
       'Pt108', 'Pt11', 'Pt13', 'Pt17', 'Pt18', 'Pt2', 'Pt23', 'Pt24', 'Pt25',
       'Pt26', 'Pt27', 'Pt28', 'Pt29', 'Pt3', 'Pt30', 'Pt31', 'Pt32', 'Pt34',
       'Pt36', 'Pt37', 'Pt38', 'Pt39', 'Pt4', 'Pt44', 'Pt46', 'Pt47', 'Pt48',
       'Pt49', 'Pt5', 'Pt51', 'Pt52', 'Pt53', 'Pt54', 'Pt58', 'Pt59', 'Pt60',
       'Pt62', 'Pt65', 'Pt66', 'Pt67', 'Pt68', 'Pt7', 'Pt70', 'Pt71', 'Pt72',
       'Pt73', 'Pt74', 'Pt76', 'Pt77', 'Pt78', 'Pt79', 'Pt8', 'Pt82', 'Pt83',
       'Pt84', 'Pt85', 'Pt86', 'Pt87', 'Pt89', 'Pt9', 'Pt90', 'Pt92', 'Pt93',
       'Pt94', 'Pt98'],
      dtype='object', name='Patient')

In [41]:
df_trans.index

Index(['Pt101_Pre', 'Pt103_Pre', 'Pt106_Pre', 'Pt10_Pre', 'Pt11_Pre',
       'Pt17_Pre', 'Pt18_Pre', 'Pt1_Pre', 'Pt23_Pre', 'Pt24_Pre', 'Pt26_Pre',
       'Pt27_Pre', 'Pt28_Pre', 'Pt29_Pre', 'Pt2_Pre', 'Pt30_Pre', 'Pt31_Pre',
       'Pt34_Pre', 'Pt36_Pre', 'Pt37_Pre', 'Pt37_Pre.2', 'Pt38_Pre',
       'Pt39_Pre', 'Pt3_Pre', 'Pt3_Pre.2', 'Pt44_Pre', 'Pt46_Pre', 'Pt47_Pre',
       'Pt48_Pre', 'Pt49_Pre', 'Pt4_Pre', 'Pt52_Pre', 'Pt59_Pre', 'Pt5_Pre',
       'Pt5_Pre.2', 'Pt62_Pre', 'Pt65_Pre', 'Pt66_Pre', 'Pt67_Pre', 'Pt72_Pre',
       'Pt76_Pre', 'Pt77_Pre', 'Pt78_Pre', 'Pt78_Pre.2', 'Pt79_Pre',
       'Pt82_Pre', 'Pt84_Pre', 'Pt85_Pre', 'Pt89_Pre', 'Pt8_Pre', 'Pt90_Pre',
       'Pt92_Pre', 'Pt92_Pre.2', 'Pt94_Pre', 'Pt98_Pre', 'Pt9_Pre'],
      dtype='object')

In [43]:
from re import RegexFlag
df_trans.index = df_trans.index.str.replace(r'_Pre', '', regex= True)
df_trans.index

Index(['Pt101', 'Pt103', 'Pt106', 'Pt10', 'Pt11', 'Pt17', 'Pt18', 'Pt1',
       'Pt23', 'Pt24', 'Pt26', 'Pt27', 'Pt28', 'Pt29', 'Pt2', 'Pt30', 'Pt31',
       'Pt34', 'Pt36', 'Pt37', 'Pt37.2', 'Pt38', 'Pt39', 'Pt3', 'Pt3.2',
       'Pt44', 'Pt46', 'Pt47', 'Pt48', 'Pt49', 'Pt4', 'Pt52', 'Pt59', 'Pt5',
       'Pt5.2', 'Pt62', 'Pt65', 'Pt66', 'Pt67', 'Pt72', 'Pt76', 'Pt77', 'Pt78',
       'Pt78.2', 'Pt79', 'Pt82', 'Pt84', 'Pt85', 'Pt89', 'Pt8', 'Pt90', 'Pt92',
       'Pt92.2', 'Pt94', 'Pt98', 'Pt9'],
      dtype='object')

In [47]:
merged_df = df_trans.join(df_y)
merged_df

,0,1,2,3,4,5,6,7,8,9,...,22324,22325,22326,22327,22328,22329,22330,22331,22332,Result
Pt101,279,0,1630,228,2485,74,1191,0,19,0,...,3747,1888,1369,4622,9871,9,3251,2428,12,0.0
Pt103,1124,0,1069,23,1337,145,484,0,87,0,...,915,1828,1220,396,1854,0,1706,242,29,0.0
Pt106,290,3,800,3114,9432,163,1185,7,114,0,...,5089,2804,20316,1128,5000,20,3473,1252,6,1.0
Pt10,306,0,982,338,21878,196,706,11,136,0,...,6312,6443,1218,1663,11114,16,7039,1814,0,1.0
Pt11,108,0,431,69,5107,182,907,7,91,8,...,3536,4851,19219,2007,7994,31,2817,1577,1,1.0
Pt17,179,0,246,36,1481,152,1049,1,19,0,...,2311,2494,37582,1004,12274,97,3164,1880,1,1.0
Pt18,145,0,1162,3689,5479,166,906,1,42,7,...,2646,2360,1629,4850,6675,10,2022,1778,0,0.0
Pt1,436,0,565,71,6838,242,1045,1,30,0,...,2573,4506,6997,1724,5142,24,3203,1616,8,1.0
Pt23,150,4,750,4947,3819,278,563,10,79,0,...,1906,3177,3326,2989,5276,50,5089,1197,7,1.0
Pt24,166,0,384,297,2015,62,886,4,71,0,...,1499,3045,557,2559,8724,6,1274,1248,0,0.0
Pt26,138,0,62,167,9882,198,1167,7,74,4,...,5752,4678,14528,1246,5887,12,2692,2301,1,0.0
Pt27,187,0,61,1869,6522,89,644,11,42,0,...,4364,4425,287,2076,4805,27,1615,1087,5,1.0
Pt28,82,0,177,139,3124,211,606,4,74,0,...,2940,4602,1316,584,6795,57,3125,906,0,1.0
Pt29,125,0,562,279,8446,139,929,8,32,10,...,1661,4373,10851,1609,5612,74,4184,1322,0,1.0
Pt2,88,2,887,983,6629,117,890,2,13,1,...,1417,1981,16,2144,5018,18,3490,1103,5,1.0
Pt30,453,5,595,788,3208,164,710,7,60,1,...,4859,3786,11,1055,3171,51,2416,1051,0,0.0
Pt31,242,3,556,793,5990,122,730,2,51,0,...,1958,2992,9937,1590,3855,23,1957,1295,1,0.0
Pt34,82,0,549,140,2999,134,581,2,16,0,...,619,2214,79,1663,6446,22,2405,681,0,0.0
Pt36,33,0,1544,24,3722,107,630,0,367,9,...,2248,3319,15,2823,5753,26,2524,1144,0,0.0
Pt37,481,0,233,378,9978,206,827,26,43,0,...,1944,3704,23041,686,5451,25,4060,624,3,1.0
Pt37.2,631,0,252,327,5095,159,925,6,20,0,...,940,2702,17784,347,4302,13,2765,374,0,NaN
Pt38,307,0,714,3058,10269,289,925,0,31,5,...,2523,4472,4174,991,3334,44,4273,1117,1,1.0
Pt39,291,0,1065,146,7877,97,568,3,33,1,...,3239,1677,4,454,2579,10,4334,1036,1,1.0
Pt3,132,1,1070,320,14014,163,1398,0,103,0,...,2568,3429,1055,1259,8131,25,1400,1537,8,0.0
Pt3.2,184,0,1265,429,16806,165,1507,7,89,6,...,3071,3525,221,1678,8656,28,1674,1654,5,NaN
Pt44,112,14,471,3159,10859,138,1111,18,87,0,...,3228,4562,390,2359,8001,29,3231,3401,2,0.0
Pt46,250,13,1148,25,1710,75,677,0,50,0,...,1077,3140,460,2135,8037,7,2402,695,2,1.0
Pt47,297,1,196,7030,8678,200,757,15,105,1,...,4694,3589,15220,2868,5869,17,2710,1795,6,1.0
Pt48,8869,602,192,4139,2423,77,419,3,155,0,...,1371,1770,10766,1022,2705,30,1695,772,0,0.0
Pt49,196,0,866,709,5855,103,765,1,168,0,...,1938,2235,74,1791,4311,15,2484,1334,12,0.0
Pt4,304,0,1363,214,11753,99,1008,4,45,21,...,4142,1614,127,1003,4268,32,5060,1040,5,1.0
Pt52,5228,586,283,2501,8263,184,598,0,540,7,...,1966,1766,1949,1397,3440,33,2187,1123,1,1.0
Pt59,249,1,1005,580,6276,114,751,0,53,8,...,1466,2278,36,1305,5672,22,3295,929,10,1.0
Pt5,312,9,522,195,4265,51,719,6,112,0,...,2329,3335,9268,1087,4772,28,1960,967,3,1.0
Pt5.2,170,0,432,107,4147,48,755,0,174,0,...,2580,3611,7808,2524,6946,3,1738,1215,3,NaN
Pt62,223,0,946,124,566,163,856,9,53,0,...,2371,1950,6819,565,1755,22,1526,363,10,1.0
Pt65,187,9,572,1708,5139,107,746,2,28,3,...,2057,4165,812,980,4467,8,7958,1494,0,0.0
Pt66,602,24,1315,145,5332,188,898,7,100,0,...,4064,2133,9661,741,5146,95,2771,1669,3,1.0
Pt67,49,1,1300,678,788,47,403,6,19,0,...,675,1370,10185,882,4307,6316,2096,533,0,0.0
Pt72,219,0,471,49,13113,78,572,4,60,0,...,2384,2136,2,652,3470,33,1764,1369,0,1.0
Pt76,730,0,1089,9559,6257,126,1005,5,92,0,...,2129,3661,75,1483,5761,45,1474,817,2,1.0
Pt77,189,0,846,981,7997,190,694,0,83,0,...,2763,1999,783,1918,6765,9,3367,1287,10,1.0
Pt78,159,0,1598,108,9108,65,581,0,526,0,...,2031,817,74,305,2286,20,1678,1342,0,1.0
Pt78.2,237,0,1323,101,9526,51,631,7,719,0,...,3066,848,116,488,1928,17,1984,1010,0,NaN
Pt79,186,2,597,393,9170,276,633,9,46,0,...,1604,2812,4,1503,2903,6,2668,1019,1,1.0
Pt82,990,72,281,594,5402,206,608,0,180,8,...,1881,1931,16102,864,6119,13,1848,1370,3,1.0
Pt84,38,5,121,209,1338,122,801,0,95,0,...,3900,1629,65462,439,3885,28,2780,863,0,1.0
Pt85,671,2,301,7800,18810,340,1545,2,6,0,...,2405,3919,3,815,3525,61,2479,1124,0,0.0
Pt89,273,0,437,388,3956,225,1108,10,59,0,...,2059,5804,9730,1765,6719,0,5185,1233,7,1.0
Pt8,328,0,459,324,7404,177,1072,6,58,4,...,2857,2785,14216,1421,4155,28,3022,1101,2,1.0
Pt90,429,0,817,328,4096,218,576,2,51,2,...,1601,3364,1904,973,4631,5,2194,886,3,1.0
Pt92,76,0,695,557,5244,140,548,4,50,1,...,2015,1957,27028,935,4624,27,4544,1229,14,1.0
Pt92.2,116,2,828,1135,6730,155,658,1,65,0,...,2373,2272,21044,1070,5537,12,4153,1525,12,NaN
Pt94,278,1,523,161,4953,163,641,6,53,0,...,1272,1645,2448,900,3709,13,2655,799,4,0.0
Pt98,278,0,212,190,5735,300,767,7,43,0,...,1782,1407,5704,1099,3884,13,2531,657,2,1.0
Pt9,156,9,345,4990,7804,278,823,3,137,4,...,5232,4426,47,1885,4213,29,2875,1257,0,1.0

In [48]:
#df.drop('Unnamed: 0', axis = 1, inplace = True)
merged_df.dropna()

,0,1,2,3,4,5,6,7,8,9,...,22324,22325,22326,22327,22328,22329,22330,22331,22332,Result
Pt101,279,0,1630,228,2485,74,1191,0,19,0,...,3747,1888,1369,4622,9871,9,3251,2428,12,0.0
Pt103,1124,0,1069,23,1337,145,484,0,87,0,...,915,1828,1220,396,1854,0,1706,242,29,0.0
Pt106,290,3,800,3114,9432,163,1185,7,114,0,...,5089,2804,20316,1128,5000,20,3473,1252,6,1.0
Pt10,306,0,982,338,21878,196,706,11,136,0,...,6312,6443,1218,1663,11114,16,7039,1814,0,1.0
Pt11,108,0,431,69,5107,182,907,7,91,8,...,3536,4851,19219,2007,7994,31,2817,1577,1,1.0
Pt17,179,0,246,36,1481,152,1049,1,19,0,...,2311,2494,37582,1004,12274,97,3164,1880,1,1.0
Pt18,145,0,1162,3689,5479,166,906,1,42,7,...,2646,2360,1629,4850,6675,10,2022,1778,0,0.0
Pt1,436,0,565,71,6838,242,1045,1,30,0,...,2573,4506,6997,1724,5142,24,3203,1616,8,1.0
Pt23,150,4,750,4947,3819,278,563,10,79,0,...,1906,3177,3326,2989,5276,50,5089,1197,7,1.0
Pt24,166,0,384,297,2015,62,886,4,71,0,...,1499,3045,557,2559,8724,6,1274,1248,0,0.0
Pt26,138,0,62,167,9882,198,1167,7,74,4,...,5752,4678,14528,1246,5887,12,2692,2301,1,0.0
Pt27,187,0,61,1869,6522,89,644,11,42,0,...,4364,4425,287,2076,4805,27,1615,1087,5,1.0
Pt28,82,0,177,139,3124,211,606,4,74,0,...,2940,4602,1316,584,6795,57,3125,906,0,1.0
Pt29,125,0,562,279,8446,139,929,8,32,10,...,1661,4373,10851,1609,5612,74,4184,1322,0,1.0
Pt2,88,2,887,983,6629,117,890,2,13,1,...,1417,1981,16,2144,5018,18,3490,1103,5,1.0
Pt30,453,5,595,788,3208,164,710,7,60,1,...,4859,3786,11,1055,3171,51,2416,1051,0,0.0
Pt31,242,3,556,793,5990,122,730,2,51,0,...,1958,2992,9937,1590,3855,23,1957,1295,1,0.0
Pt34,82,0,549,140,2999,134,581,2,16,0,...,619,2214,79,1663,6446,22,2405,681,0,0.0
Pt36,33,0,1544,24,3722,107,630,0,367,9,...,2248,3319,15,2823,5753,26,2524,1144,0,0.0
Pt37,481,0,233,378,9978,206,827,26,43,0,...,1944,3704,23041,686,5451,25,4060,624,3,1.0
Pt38,307,0,714,3058,10269,289,925,0,31,5,...,2523,4472,4174,991,3334,44,4273,1117,1,1.0
Pt39,291,0,1065,146,7877,97,568,3,33,1,...,3239,1677,4,454,2579,10,4334,1036,1,1.0
Pt3,132,1,1070,320,14014,163,1398,0,103,0,...,2568,3429,1055,1259,8131,25,1400,1537,8,0.0
Pt44,112,14,471,3159,10859,138,1111,18,87,0,...,3228,4562,390,2359,8001,29,3231,3401,2,0.0
Pt46,250,13,1148,25,1710,75,677,0,50,0,...,1077,3140,460,2135,8037,7,2402,695,2,1.0
Pt47,297,1,196,7030,8678,200,757,15,105,1,...,4694,3589,15220,2868,5869,17,2710,1795,6,1.0
Pt48,8869,602,192,4139,2423,77,419,3,155,0,...,1371,1770,10766,1022,2705,30,1695,772,0,0.0
Pt49,196,0,866,709,5855,103,765,1,168,0,...,1938,2235,74,1791,4311,15,2484,1334,12,0.0
Pt4,304,0,1363,214,11753,99,1008,4,45,21,...,4142,1614,127,1003,4268,32,5060,1040,5,1.0
Pt52,5228,586,283,2501,8263,184,598,0,540,7,...,1966,1766,1949,1397,3440,33,2187,1123,1,1.0
Pt59,249,1,1005,580,6276,114,751,0,53,8,...,1466,2278,36,1305,5672,22,3295,929,10,1.0
Pt5,312,9,522,195,4265,51,719,6,112,0,...,2329,3335,9268,1087,4772,28,1960,967,3,1.0
Pt62,223,0,946,124,566,163,856,9,53,0,...,2371,1950,6819,565,1755,22,1526,363,10,1.0
Pt65,187,9,572,1708,5139,107,746,2,28,3,...,2057,4165,812,980,4467,8,7958,1494,0,0.0
Pt66,602,24,1315,145,5332,188,898,7,100,0,...,4064,2133,9661,741,5146,95,2771,1669,3,1.0
Pt67,49,1,1300,678,788,47,403,6,19,0,...,675,1370,10185,882,4307,6316,2096,533,0,0.0
Pt72,219,0,471,49,13113,78,572,4,60,0,...,2384,2136,2,652,3470,33,1764,1369,0,1.0
Pt76,730,0,1089,9559,6257,126,1005,5,92,0,...,2129,3661,75,1483,5761,45,1474,817,2,1.0
Pt77,189,0,846,981,7997,190,694,0,83,0,...,2763,1999,783,1918,6765,9,3367,1287,10,1.0
Pt78,159,0,1598,108,9108,65,581,0,526,0,...,2031,817,74,305,2286,20,1678,1342,0,1.0
Pt79,186,2,597,393,9170,276,633,9,46,0,...,1604,2812,4,1503,2903,6,2668,1019,1,1.0
Pt82,990,72,281,594,5402,206,608,0,180,8,...,1881,1931,16102,864,6119,13,1848,1370,3,1.0
Pt84,38,5,121,209,1338,122,801,0,95,0,...,3900,1629,65462,439,3885,28,2780,863,0,1.0
Pt85,671,2,301,7800,18810,340,1545,2,6,0,...,2405,3919,3,815,3525,61,2479,1124,0,0.0
Pt89,273,0,437,388,3956,225,1108,10,59,0,...,2059,5804,9730,1765,6719,0,5185,1233,7,1.0
Pt8,328,0,459,324,7404,177,1072,6,58,4,...,2857,2785,14216,1421,4155,28,3022,1101,2,1.0
Pt90,429,0,817,328,4096,218,576,2,51,2,...,1601,3364,1904,973,4631,5,2194,886,3,1.0
Pt92,76,0,695,557,5244,140,548,4,50,1,...,2015,1957,27028,935,4624,27,4544,1229,14,1.0
Pt94,278,1,523,161,4953,163,641,6,53,0,...,1272,1645,2448,900,3709,13,2655,799,4,0.0
Pt98,278,0,212,190,5735,300,767,7,43,0,...,1782,1407,5704,1099,3884,13,2531,657,2,1.0
Pt9,156,9,345,4990,7804,278,823,3,137,4,...,5232,4426,47,1885,4213,29,2875,1257,0,1.0

In [ ]:
#sns.histplot(merged_df)

In [ ]:
#sns.pairplot(df_drp_na)

In [59]:
X = merged_df.iloc[:, 0:-1].values
y = merged_df.iloc[:, -1:].values

In [63]:
X.shape

(56, 22333)

In [64]:
y.shape

(56, 1)

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 101)

In [51]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [52]:
X_train[:, :] = sc.fit_transform(X_train[:, :])

In [53]:
X_test[:, :] = sc.transform(X_test[:, :])

In [54]:
from sklearn.linear_model import LogisticRegression

In [55]:
X_train.transpose()

array([[ 0,  0,  0, ...,  0,  0,  3],
       [ 0,  0,  0, ...,  0,  0,  4],
       [ 0,  1,  0, ...,  0, -1,  0],
       ...,
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  3, ..., -1,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0]])

In [66]:
y_train.transpose().shape

(1, 44)

In [57]:
#log_reg = LogisticRegression(solver='lbfgs', max_iter= 1000)
log_reg = LogisticRegression()

In [58]:
log_reg.fit(X_train, y_train.ravel())

ValueError: ignored

In [ ]:
prediction = log_reg.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, prediction)

array([[1, 3],
       [3, 3]])

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lin_reg = LogisticRegression()

In [ ]:
lin_reg.fit(X_train, y_train.ravel())

LogisticRegression()